.App {
  font-family: sans-serif;
  text-align: center;
}

.movingItem {
  position: absolute;
  color: white;
}

#game {
  position: relative;
  width: 100vw;
  min-height: 50vh;
  background-color: darkcyan;
}
