.App {
  font-family: sans-serif;
  text-align: center;
}

.movingItem {
  position: absolute;
  color: white;
  z-index: 2;
}

#game {
  position: relative;
  width: 1000px;
  height: 800px;
  background-color: darkcyan;
}

#answer {
  position: absolute;
  bottom: 0px;
  right: 50%;
  z-index: 1.5;
}

#answertext {
  font-size: 75px;
  color: black;
}

#score {
  position: absolute;
  top: 0;
  left: 20px;
  color: white;
  font-size: 45px;
}
