.App {
  font-family: sans-serif;
  text-align: center;
}

.movingItem {
  position: absolute;
  color: white;
  z-index: 2;
  animation: colorchange;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  will-change: transform;
}

@keyframes colorchange {
  0% {
    color: white;
  }
  15% {
    color: white;
  }
  25% {
    color: limegreen;
  }

  50% {
    color: yellow;
  }
  60% {
    transform: scale(1);
  }
  70% {
    color: red;
    transform: scale(2);
  }
  80% {
    color: red;
    transform: rotate(45deg) scale(2);
  }
  90% {
    color: red;
    transform: rotate(-45deg) scale(2.5);
  }
  100% {
    color: red;
    transform: rotate(45deg) scale(3);
  }
}

#game {
  position: relative;
  width: 98vw;
  height: 98vh;
  background-color: darkcyan;
}

#answer {
  position: absolute;
  bottom: 0px;
  right: 50%;
  z-index: 1.5;
}

#answertext {
  font-size: 75px;
  color: black;
}

.score {
  position: absolute;
  top: 0;
  left: 20px;
  color: white;
  font-size: 45px;
}

.score-end {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: scale(2.5);
  transition: linear 2s;
}
